@charset "UTF-8";
	body {
		font-family: "Nanum Gothic", sans-serif;
  		font-weight: 400;
  		font-style: normal;
	}

	@font-face {
	    font-family: 'GowunBatang-Regular';
	    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	a{display:block; color:#555555; font-size: 17px; text-decoration: none;}
	
	ul{ list-style: none;}
	
	.content{position:flex; width:1400px; background:white; transform: transLateY(-90px); flex-direction: row;}
	
	.headMenu{display: inline-block;  margin-right: 5px; border:1px solid black;
		width:120px; line-height:40px; margin-left:-10px; text-align:center;}
	
	.categoryDomestic{display: inline-block;  margin-right: 2px; 
		width:400px; line-height:50px; margin-left:-11px;  text-align:center;
		}
		/* <!--border:2px solid #555555;--> */
	.domeCon{display: flex; flex-direction: column; justify-content: center;}
	.imageDiv{border:1px groove #888888; width:550px; height:301px;}
	.border{border-bottom: 1px groove #888888;}
	.domeMainImage{background-size: cover; height:400px;}
	
	
	@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
	
	p {
	font-family:GowunBatang-Regular;}
	
	#topAndNavbar {
		background-image:linear-gradient(
	        rgba(0, 0, 0, 0.2),
	        rgba(0, 0, 0, 0.2)
	      )
	      ,url('image/topImage.PNG');
	    background-size: cover; 
	    background-position: center;
	    background-repeat: no-repeat;
	    transition: background-color 0.5s ease;
	    
	a{display:block; color:#555555; font-size: 17px; text-decoration: none;}
	}	
	
	#domestic-container>h1,h3,h4,em,p,.text-box1 {
		font-family:GowunBatang-Regular;
    }
