<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<select id="getListCountMember" resultType="_int">
		select count(*)
		from member
	</select>
	

	<select id="getListCountPay" resultType="_int">
		select count(*)
		from pay
	</select>
	
	<select id="adminMemberList" resultType="Member">
		select *
		from member
		order by member_no
	</select>
	
	<select id="adminStatusMember" resultType="Member">
		select *
		from member
		where status = 'Y'
		order by member_no
	</select>
	
	<update id="adminDelete">
		update member
		set status = 'N'
		where member_no = #{memberNo}
	</update>
	
	<update id="adminUpdate">
		update member
		set member_name = #{memberName},
			nickname = #{nickName},
			email = #{email},
			phone = #{phone},
			address = #{address}
		where member_no = #{memberNo}
	</update>
	
	<select id="searchMember" resultType="Member">
		select *
		from member
		<if test="type=='member_No' or type=='member_name' or type=='nickName'">
		where ${type} like '%' || #{text} || '%'
   		</if>
	</select>
	
	<update id="updateStatus">
	    update member
	    set status = 
	        <choose>
	            <when test='status == "Y"'>
	                'N'
	            </when>
	            <when test='status == "N"'>
	                'Y'
	            </when>
	            <otherwise>
	                #{status}
	            </otherwise>
	        </choose>
	    where member_no = #{memberNo}
	</update>
	
	<update id="updateAdmin">
		update member
		set isAdmin = 
			<choose>
				<when test='isAdmin == "Y"'>
					'N'
				</when>
				<when test='isAdmin == "N"'>
					'Y'
				</when>
				<otherwise>
					#{isAdmin}
				</otherwise>
			</choose>
		where member_no = #{memberNo}
	</update>
	
	

	
	<select id="adminPayList" resultType="Pay">
		select *
		from pay
		order by pay_no
	</select>
	
 	<select id="getListCountBoard" resultType="_int">
 		select count(*)
 		from board
 		where delete_yn = 'N' and board_type = #{boardTypeNum}
	</select>
	
 	<select id="selectBoardList" resultType="Board">
		select * 
		from board
	    join location using(location_no)
		where delete_yn = 'N' and board_type = #{boardTypeNum}
		order by board_no desc
 	</select>
 	
 	
 	<select id="selectBoard" resultType="Board">
 		select *
 		from board
 		where delete_yn ='N' and board_No = #{bId}
 	</select>
 	
 	<update id="updateCount">
 		update board
 		set board_count = board_count + 1
 		where board_No = #{bId}
 	</update>
 	
 	<select id="adminBoardDetail" resultType="VolunteerDetail">
 		select *
 		from volunteer_detail
 		where member_no = #{bId}
 	</select>
 	
 	<insert id="adminInsertBoard">
 		insert into board values(
 			seq_board.nextval,
 			${locationNo},
 			#{title},
 			#{content},
 			'N',
 			sysdate,
 			sysdate,
 			#{memberNo},
 			#{boardType},
 			0
 		)
 	</insert>
 	
 	<select id="adminSelectBoardNoCheck" resultType="_int">
 		select *
		from (
		select board_no
		from board
		order by board_no desc)
		where rownum = 1
 	</select>
 	
 	<select id="adminSelectVolunteerDetail" resultType="VolunteerDetail">
 		select *
 		from volunteer_Detail
 		where board_no = #{bId}
 	</select>
 	
 	<update id="adminDeleteBoard">
 		update board
 		set delete_yn = 'Y'
 		where board_no = #{bNo}
 	</update>
 	
 	<select id="selectVolunteerDetail" resultType="VolunteerDetail">
 		select *
 		from volunteer_Detail
 		where board_no = #{bId}
 	</select>
 	
 	<select id="adminSelectMember" resultType="Member">
 		select *
 		from member
 		where member_No = #{memberNo}
 		order by member_No
 	</select>
 	
 	<select id="adminSelectPay" resultType="Pay">
 		select *
 		from pay
 		where member_No = #{memberNo}
 		order by pay_date
 	</select>
 	
 	<update id="adminUpdateMember">
 		update board
 		set delete_yn = 'Y'
 		where board
 	</update>
 	
 	<select id="adminSelectReply" resultType="Reply">
 		select reply_no,reply.create_date,update_date,delete_yn,content,board_no,member_no,nickName
 		from reply
 			join member using(member_no)
 		where board_no = #{bId} and delete_yn ='N'
 		order by reply_no desc
 	</select>
 	
</mapper>
