<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="loginCheck" resultType="Member">
		select *
		from member
		where member_id = #{memberId} and status = 'Y'
	</select>
	
	
	<insert id="insertMember">
		insert into member values(
			seq_member.nextval,
        	#{memberId},
        	#{memberPwd},
        	#{gender},
        	#{nickName},
        	#{phone},
	        #{email},
	        #{age},
	        #{address},
	        'N',
	        'Y',
	        sysdate,
	        #{memberName}
		
		)

	</insert>

	<update id="updateMember">
		update member
		set	nickname = #{nickName},
			email = #{email},
			gender = #{gender},
			age = #{age},
			phone=#{phone},
			address = #{address}
		where member_id = #{memberId}
	</update>

	<select id="selectId" resultType="String">
		select member_id
		from member
		where member_name = #{findName}
		and email = #{findEmail}
		and phone = #{findPhone}
	</select>
	
	<update id="updateTempPwd">
		update member
		set member_pwd = #{tempPwd}
		where member_id = #{findId} 
		and member_name = #{findName}
		and email = #{findEmail}
		and phone = #{findPhone}
	</update>

	<select id="adminSelectMember" resultType="Member">
		select *
		from member
	</select>
	
	<update id="adminDelete">
		update member
		set status = 'N'
		where member_no = #{memberNo}
	</update>

	<select id="checkMemberId" resultType="_int">
		select count(*)
		from member
		where member_Id = #{id} 
	</select>
	<select id="checkMemberNickName" resultType="_int">
		select count(*)
		from member
		where nickName = #{nickName} 
	</select>


	
	<update id="adminUpdate">
		update member
		set member_name = #{memberName},
			nickname = #{nickName},
			email = #{email},
			phone = #{phone},
			address = #{address}
		where member_no = #{memberNo}
	</update>
	
	<select id="searchMember" resultType="Member">
		select *
		from member
		<if test="type=='member_No' or type=='member_name' or type=='nickName'">
		where ${type} like '%' || #{text} || '%'
   		</if>
	</select>
	
	<update id="updateStatus">
		update member
		set status = #{status}
		where member_no = #{memberNo}
	</update>
	
	<update id="updateAdmin">
		update member
		set isAdmin = #{isAdmin}
		where member_no = #{memberNo}
	</update>
	
	<select id="selectPay" resultType="Pay">
		select *
		from pay
	</select>
</mapper>
